<%- include("header") -%>
<h1>this is my about page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa necessitatibus
  mollitia esse voluptates, totam perferendis sequi nam doloribus ex obcaecati
  corrupti corporis nostrum libero velit dignissimos provident ullam assumenda
  numquam aliquam eligendi. Dolor iste obcaecati eaque cumque ea nobis sed
  tenetur itaque nesciunt maiores
</p>
<%- include("footer") -%>
